body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #210b0b, #894e6b)
}

.container {
  max-width: 400px;
  margin: 122px auto;
  padding: 52px;
  border: 1px solid #ee3d9e;
  border-radius: 39px;
  animation: aparecer 1s forwards;
 
}

@keyframes aparecer {
    from {
      color: transparent; 
      transform: translateY(-20px); 
    }
    to {
      transform: translateY(0); 
    }
} 

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ee3d9e;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ee3d9e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ee3d9e;
}

#resultado {
    color: #fff;
  margin-top: 20px;
}
